@import "../basics/Basics.scss";

.box {
  background: white;
  padding: 1.5rem 2rem;
  display: grid;
  margin: 2rem auto;

  width: 30rem;
  height: 14rem;
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 5px 25px rgba($color_primary_light, 0.8);

  text-align: center;
  border: none;
  &--1 {
  }
  &--2 {
  }
  &--3 {
  }

  &__heading {
    font-size: 5.5rem;
    font-weight: 600;
    font-family: $font_main;
    position: absolute;
    top: -15%;
    left: 5%;
    transform: translate(-5%, -15%);
    color: rgba($color_gray, 0.6);
  }
  &__title {
    font-size: 2.2rem;
    margin: 0.8rem auto;
    text-transform: capitalize;
  }
  &__text {
    font-size: 1.5rem;
    color: rgba($color_gray, 0.8);
  }
}
