@import "../basics/Basics.scss";
.slide {
  @include gradient_background();
  border-radius: 1rem;
  height: 30rem;
  margin: 1rem 0.8rem;
  padding: 1.5rem 2.5rem;
  color: #fff;
  box-shadow: 1px 5px 10px rgba($color_black, 0.5);

  display: grid;
  grid-template-rows: repeat(3, 1fr);

  &--small {
    // width: 22rem;
  }
  &__img {
    width: 18rem;
    display: grid;
    justify-self: center;
    line-height: 20;
  }
}
