@import '../basics/Basics.scss';

.feedback {
  margin: 5rem auto;

  &-card {
    max-width: 70%;
    // padding: 3rem 1.5rem;
    display: grid;
    justify-items: center;
    grid-gap: 0.5rem;
    box-shadow: 1px 1px 20px rgba($color_black, 0.2);
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;

    margin: 0rem 5rem;
    padding: 2.5rem;

    &__img,
    &__img > img {
      // this will create a border radius for the img and its parent
      border-radius: 100px;
    }

    &__img {
      max-width: 10rem;
      max-height: 10rem;
      background: #f3f3f3;
      box-shadow: 1px 8px 22px rgba($color_primary, 0.5);
    }

    &__slug {
      font-size: 1.5rem;
      color: #888;
      font-style: italic;
    }
    &__name {
      font-size: 1.8rem;
      font-family: $font_sub;
      color: $color_primary;
    }
  }
}
