@import "../basics/Basics.scss";

.header {
  position: relative;
  background-image: url("../img/bg.svg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;

  &__inner {
    align-items: flex-end;
    @include absolute_center_element;

    &-left {
      display: grid;
    }
    &-right {
      display: grid;
    }
  }
  &__img {
    min-width: 40rem;
    max-width: 80rem;
  }
}
