// #### Colors  #####
$color_primary: #27ae60;
$color_primary_light: #6fcf97;
$color_primary_dark: #219653;

$color_white: #f2f2f2;
$color_black: #2d2d2d;
$color_gray: lightslategray;

// #### Font Family  #####
$font_main: "Lato", sans-serif;
$font_sub_1: "Quicksand", sans-serif;
$font_sub_2: "Righteous", cursive;

// #### Sizes ######
$size_1: 1rem;
$size_2: 1.5rem;
$size_3: 3rem;

// ##### Mixins ########
@mixin absolute_center_element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin gradient_text {
  background: linear-gradient(
    to right,
    rgba($color_primary_light, 0.8),
    rgba($color_black, 0.2),
    rgba($color_primary_dark, 0.8)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// #### Typography #####
.heading {
  &__main {
    font-family: $font_sub_1;
    font-size: 4rem;
    font-weight: 800;
    color: $color_primary_dark;
  }
  &__section {
    font-family: $font_sub_1;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    right: -10.5%;
    color: $color_primary_dark;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-250%, -50%);
      display: block;
      width: 70%;
      height: 0.1rem;
      background: currentColor;
    }
  }
}

.text {
  &__main {
    font-size: 1.5rem;
    font-family: $font_main;
    color: $color_gray;
  }
}

// ###### sections #########
.section {
  height: 100vh;
}

// #### Helpers ######
.mx_1 {
  margin: auto $size_1;
}
.mx_2 {
  margin: auto $size_2;
}
.mx_3 {
  margin: auto $size_3;
}

.my_1 {
  margin: $size_1 auto;
}
.my_2 {
  margin: $size_2 auto;
}
.my_3 {
  margin: $size_3 auto;
}

.px_1 {
  padding: 0 $size_1;
}
.px_2 {
  padding: 0 $size_2;
}
.px_3 {
  padding: 0 $size_3;
}

.py_1 {
  padding: $size_1 0;
}
.py_2 {
  padding: $size_2 0;
}
.py_3 {
  padding: $size_3 0;
}
